<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>GameHub</title>
    <link rel="stylesheet" href="/css/output.css">
    <% if(game && game.cssFile !==null){ %>
        <link rel="stylesheet" href="/css/<%=game.cssFile%>" />
        <% } %>

            <% if(status===404){ %>
                <link rel="stylesheet" href="/css/404.css" />
                <% } %>

</head>

<body>
    <header>
        <h1>GameHub</h1>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <% games.forEach((game)=> { %>
                    <li><a href="/game/<%=game.name%>">
                            <%=game.title%>
                        </a></li>
                    <%})%>
            </ul>
        </nav>
    </header>