<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <script src="https://kit.fontawesome.com/090d5fde99.js" crossorigin="anonymous"></script>
  <title class="">DiceRoller | Jeu du Lanceur de Dés</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/dice/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/dice/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/dice/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="manifest" href="/site.webmanifest">



  <% if(game && game.cssFile !==null){ %>
  <link rel="stylesheet" href="/css/<%=game.cssFile%>" />
  <% } %>

  <% if(status===404){ %>
  <link rel="stylesheet" href="/css/404.css" />
  <% } %>

</head>

<body>
  <a href="/"><i id="return" class="fa-solid fa-house fa-xl"></i></a>
  <div id="app">
    <form class="form" action="">
      <label class="label" for="dices">Combien de dés voulez-vous jouer ?</label>
      <input id="dices" type="range" name="dices" min="1" value="10" max="20">
      <div class="dices_value"></div>
      <button id="play">Lancer !</button>

    </form>
    <div class="board" id="player"></div>
    <div class="board" id="dealer"></div>
  </div>
  <div id="score"></div>
  <script src="../js/diceRoller.js"></script>
</body>


</html>