<%- include('partials/header') %>

<body>
  <h1 id="menu">DICE ROLLER</h1>
  <a href="/"><i id="return" class="fa-solid fa-house fa-xl"></i></a>
  <form class="form" action="">
    <label class="label" for="dices">Combien de dés voulez-vous jouer ?</label>
    <input id="dices" type="range" name="dices" min="1" value="10" max="20">
    <div class="dices_value"></div>
    <button id="play">Lancer !</button>

  </form>
  <div id="app">
    <div class="board" id="player"></div>
    <div class="board" id="dealer"></div>
  </div>
  <div id="score"></div>
  <script src="../js/diceRoller.js"></script>
</body>


</html>