<%- include('./partials/header') %>
    <form class="configuration"></form>
    <div id="invader"></div>
    <div class="colorPalet">
        <div class="color white" id="white"></div>
        <div class="color black" id="black"></div>
        <div class="color orange" id="orange"></div>
        <div class="color green" id="green"></div>
    </div>
    <script src="/js/invader.js"></script>
    </div>
    </body>

    </html>