@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: Montserrat, sans-serif;
  background: #f0f0f0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  text-align: center;
  padding-top: 20px;
  font-size: 3rem;
}

.header__link {
  color: black;
}

.main {
  background: white;
  width: 80%;
  margin: auto;
  border-radius: 3px;
  min-height: 700px;
  margin-bottom: 50px;
  margin-top: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img_logo {
  width: 150px;
  height: 150px;
}

.main__title {
  text-align: center;
  padding: 40px 0 20px 0;
  font-size: 2rem;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  perspective: 1000px;
}

.card {
  position: relative;
  transition: transform 0.6s ease-in-out 0.1s;
  transform-style: preserve-3d;
  color: black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 4px;
  height: 400px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.flip-card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
  text-align: center;
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card:hover {
  transform: rotateY(180deg);
}

.innerCard,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.innerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card__img {
  height: 330px;
  width: 85%;
  margin-top: 15px;
  border-radius: 7px;
}
.diceRollerBackCard {
  background: rgb(243, 156, 18);
  background: linear-gradient(90deg, rgba(243, 156, 18, 1) 38%, rgba(230, 126, 34, 1) 58%);
}

.pixelizeBackCard {
  background: #6459cd;
}

.guessNumberBackCard {
  background: #a1a1a1;
}

.game_title {
  font-size: 1.2rem;
}

.description {
  padding: 40% 8px;
  color: rgb(255, 255, 255);
  line-height: 1.4;
}

@media screen and (max-width: 900px) {
  .img_logo {
    width: 100px;
    height: 100px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .main {
    width: 90%;
    padding-bottom: 30px;
  }
  .card {
    width: 90%;
  }

  .card__img {
    width: 90%;
  }
}
